<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>This is Lobby</h1>

<form id="form">
    <input type="text" name="message">
</form>

<div id="message"></div>

<script type="text/javascript">
    // ws://${window.location.host}/ <== This means app routing url (this project - root)
    // /ws/socket-server/ <== for websocket connecting url (under chat app)
    let url = `ws://${window.location.host}/ws/socket-server/`;

    // Create WebSocket connection
    const chatSocket = new WebSocket(url)

    // On Message
    chatSocket.onmessage = function (e) {
        // console.log('Message from server: ', e.data)
        let data = JSON.parse(e.data)
        console.log('Data: ', data)

        // Check type of message and insert into html
        if (data.type === 'chat') {
            let message = document.getElementById('message')
            message.insertAdjacentHTML('beforeend',
                `<div>
                    <p>${data.message}</p>
                </div>`
            )
        }
    }

    // Listen for messages
    let form = document.getElementById('form');

    // Send message
    form.addEventListener('submit', (e) => {
        // Prevent form from submitting
        e.preventDefault()
        // Get message and send to server
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message': message
        }))
        // Reset form
        form.reset()
    })

</script>
</body>
</html>